<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>${title}</title>
  <style>
    @font-face {
      font-family: "M PLUS 1";
      src: url("data:application/x-font-otf; charset=utf-8; base64,${fontData}") format("opentype");
    }
        #foreach($css in $cssList)
            ${ErTemplateUtils.nonEscape($css)}
        #end
  </style>
</head>
<body>
<main>
  <header>
    <a class="menu">${name}</a>
    <nav>
      <p>Tables</p>
      <ul>
          #foreach($table in $tables)
              #set($ctxTable = $table.getCtxTable())
            <li><a href="javascript:void(0);"
                   onclick="scrollwindow('table-${ctxTable.dbTable.tableId}');">${ctxTable.dbTable.getShowTableName()}</a>
            </li>
          #end
      </ul>
      <p>Sequences</p>
      <ul>
          #foreach($sequence in $sequences)
              #set($ctxSequence = $sequence.getCtxSequence())
            <li><a href="javascript:void(0);"
                   onclick="scrollwindow('sequence-${ctxSequence.dbSequence.sequenceId}');">${ctxSequence.dbSequence.sequenceName}</a>
            </li>
          #end
      </ul>
      <p>Notes</p>
      <ul>
          #foreach($note in $notes)
              #set($ctxNote = $note.getCtxNote())
            <li><a href="javascript:void(0);"
                   onclick="scrollwindow('note-${ctxNote.dbNote.noteId}');">${ctxNote.dbNote.subject}</a>
            </li>
          #end
      </ul>
    </nav>
  </header>
  <section>
    <svg xmlns="http://www.w3.org/2000/svg" width="${imageWidth}" height="${imageHeight}">
      <image href="data:image/png;base64,${imageData}" width="${imageWidth}"
             height="${imageHeight}"/>
        #foreach($table in $tables)
            #set($ctxTable = $table.getCtxTable())
            #set($tableNameX = $table.getX() + 26)
            #set($tableNameY = $table.getY() + 25)
          <text x="${tableNameX}" y="${tableNameY}" font-size="11"
                fill-opacity="0">${ctxTable.dbTable.getShowTableName()}</text>
            #set($idx = 0)
            #foreach($showColumnName in $table.getShowColumnNameList())
                #set($columnNameX = $tableNameX + 20)
                #set($columnNameY = $tableNameY + $idx * 22 + 33)
              <text x="${columnNameX}" y="${columnNameY}" font-size="11"
                    fill-opacity="0">${showColumnName}</text>
                #set($idx = $idx + 1)
            #end
          <rect id="table-${ctxTable.dbTable.tableId}" x="${table.getX()}" y="${table.getY()}"
                width="${table.getWidth()}" height="${table.getHeight()}" fill="red"
                fill-opacity="0" stroke="red" stroke-opacity="0"/>
        #end
        #foreach($sequence in $sequences)
            #set($ctxSequence = $sequence.getCtxSequence())
            #set($sequenceNameX = $sequence.getX() + 26)
            #set($sequenceNameY = $sequence.getY() + 23)
          <text x="${sequenceNameX}" y="${sequenceNameY}" font-size="11"
                fill-opacity="0">${ctxSequence.dbSequence.sequenceName}</text>
          <rect id="sequence-${ctxSequence.dbSequence.sequenceId}" x="${sequence.getX()}"
                y="${sequence.getY()}" width="${sequence.getWidth()}"
                height="${sequence.getHeight()}" fill="red" fill-opacity="0" stroke="red"
                stroke-opacity="0"/>
        #end
        #foreach($note in $notes)
            #set($ctxNote = $note.getCtxNote())
            #set($subjectX = $note.getX() + 17)
            #set($subjectY = $note.getY() + 20)
          <text x="${subjectX}" y="${subjectY}" font-size="11"
                fill-opacity="0">${ctxNote.dbNote.subject}</text>
            #set($idx = 0)
            #foreach($b in $ctxNote.dbNote.body.split("\n"))
                #set($bodyX = $subjectX)
                #set($bodyY = $subjectY + $idx * 17 + 36)
              <text x="${bodyX}" y="${bodyY}" font-size="11"
                    fill-opacity="0">${b}</text>
                #set($idx = $idx + 1)
            #end
          <rect id="note-${ctxNote.dbNote.noteId}" x="${note.getX()}" y="${note.getY()}"
                width="${note.getWidth()}" height="${note.getHeight()}" fill="red" fill-opacity="0"
                stroke="red" stroke-opacity="0"/>
        #end
    </svg>
  </section>
    #foreach($dialog in $dialogTableList)
        ${ErTemplateUtils.nonEscape($dialog)}
    #end
    #foreach($dialog in $dialogSequenceList)
        ${ErTemplateUtils.nonEscape($dialog)}
    #end
    #foreach($dialog in $dialogNoteList)
        ${ErTemplateUtils.nonEscape($dialog)}
    #end
</main>

<script>
        #foreach($js in $jsList)
            ${ErTemplateUtils.nonEscape($js)}
        #end
</script>

</body>
</html>