#parse("__SampleMacro.vm")
package XXX;

#set($className = $ErTemplateUtils.toCamelCase($tmpTable.tableName))
#set($className = $ErTemplateUtils.ucFirst($className))
public class ${className}
{
    #foreach($tmpColumn in $tmpColumnList)
        #set($fieldName = $ErTemplateUtils.toCamelCase($tmpColumn.columnName))
        #set($fieldName = $ErTemplateUtils.lcFirst($fieldName))
    public #getType($tmpColumn.columnType) ${fieldName};
    #end
}
